# Create new columns in DataFrame

## Load dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/energy_cost_2023.xlsx')

In [3]:
df

,datetime,price,energy,cost,year,month,day,hour,dayofweek
0,2023-01-01 00:00:00,0.00,14039.8,0.000,2023,1,1,0,6
1,2023-01-01 01:00:00,0.00,13581.2,0.000,2023,1,1,1,6
2,2023-01-01 02:00:00,0.00,13059.2,0.000,2023,1,1,2,6
3,2023-01-01 03:00:00,0.00,12903.3,0.000,2023,1,1,3,6
4,2023-01-01 04:00:00,0.00,12477.2,0.000,2023,1,1,4,6
...,...,...,...,...,...,...,...,...,...
8755,2023-12-31 19:00:00,101.30,15085.8,1528191.540,2023,12,31,19,6
8756,2023-12-31 20:00:00,92.97,14534.3,1351253.871,2023,12,31,20,6
8757,2023-12-31 21:00:00,85.49,13838.3,1183036.267,2023,12,31,21,6
8758,2023-12-31 22:00:00,74.74,13223.4,988316.916,2023,12,31,22,6
8759,2023-12-31 23:00:00,71.96,12659.1,910948.836,2023,12,31,23,6

## Cost

### Calculate from columns

datetime
2023-01-01 00:00:00         0.000
2023-01-01 01:00:00         0.000
                          ...
2023-12-31 22:00:00    988316.916
2023-12-31 23:00:00    910948.836
Length: 8760, dtype: float64

### Add new column to DataFrame

                     price   energy        cost
datetime
2023-01-01 00:00:00   0.00  14039.8       0.000
2023-01-01 01:00:00   0.00  13581.2       0.000
...                    ...      ...         ...
2023-12-31 22:00:00  74.74  13223.4  988316.916
2023-12-31 23:00:00  71.96  12659.1  910948.836

[8760 rows x 3 columns]

## Temporal columns

,price,energy,cost,year,month,day,hour,dayofweek
datetime,,,,,,,,
2023-01-01 00:00:00,0.00,14039.8,0.000,2023,1,1,0,6
2023-01-01 01:00:00,0.00,13581.2,0.000,2023,1,1,1,6
...,...,...,...,...,...,...,...,...
2023-12-31 22:00:00,74.74,13223.4,988316.916,2023,12,31,22,6
2023-12-31 23:00:00,71.96,12659.1,910948.836,2023,12,31,23,6

## Export to Excel